header {
  @include header-styles();
  padding: $padding-spacing;
  border-bottom: $border;
  font-family: $font;
  font-size: $font-size;
  position: relative;
}

header a {
  color: $dark-black;
  transition: $transition;
}

header a:hover {
  background: linear-gradient(to right, #ff0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation-list {
  @include header-styles();
  gap: $spacing;
  @media (max-width: 800px) {
    position: fixed;
    left: -100%;
    top: 70px;
    background-color: $primary-color;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
    @include colum-styles();
    padding: $padding-spacing;
  }
}

.hr-nav-hamb {
  display: none;
  @media (max-width: 800px) {
    display: block;
    transform: rotate(90deg);
  }
}

.navigation-list li {
  display: flex;
  gap: $primary-gap;
}

.logo-header {
  @include flex-center();
  gap: 1rem;
  background: linear-gradient(to right, #ff0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-search {
  position: absolute;
  top: 0.8rem;
  left: 7%;
}

.menu-svg-header {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 35%;
  right: 10%;
  @media (max-width: 800px) {
    display: block;
  }
}

.bar {
  display: block;
  background-color: #000000;
  width: 25px;
  height: 3px;
  -webkit-transtition: all 0.3s easy-in-out;
  transition: all 0.3s easy-in-out;
  margin-bottom: 5px;
}

.menu-svg-header.active .bar:nth-child(2) {
  opacity: 0;
}
.menu-svg-header.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.menu-svg-header.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navigation-list.active {
  left: 0;
}

.input-div {
  position: relative;
  border: none;
  outline: none;
  border: $border;
  @include border-radius($spacing);
  padding: $input-padding;
  background-color: white;
  @media (max-width: 650px) {
    display: none;
  }
}

.search-input {
  border: none;
  outline: none;
  font-family: $font;
  background: linear-gradient(to right, #e20404, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
