.nav-bar {
  width: 7rem;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.605);
  backdrop-filter: blur(5px);
  border-right: $border;
  padding: 1rem;
  transition: width 200ms ease;

  @media only screen and (max-width: 600px) {
    bottom: 0;
    width: 100vw;
    height: 7rem;
    border: none;
    border-top: $border;
  }
}

.logo-img {
  width: 3.5rem;
  height: 3.5rem;

  @media only screen and (max-width: 600px) {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.nav-bar:hover {
  width: 20rem;
}

.navbar-nav {
  @include colum-styles;

  @media only screen and (max-width: 600px) {
    @include header-styles;
    flex-direction: row;
    justify-content: space-around;
  }
}

.nav-item:last-child {
  border: $border;
  border-radius: 2rem;

  @media only screen and (max-width: 600px) {
    border: none;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: rgba(0, 0, 0, 0.762);
  font-family: $font;
  font-size: 1rem;
  letter-spacing: 2px;
}

.link-text {
  display: none;
}

.nav-bar:hover .link-text {
  display: block;
}

.nav-bar:hover .icon-menu-navbar {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .nav-bar:hover {
    bottom: 0;
    width: 100vw;
    height: 7rem;
  }

  .nav-bar:hover .link-text {
    display: none;
  }
}
