header {
  @include header-styles();
  padding: $padding-spacing;
  border-bottom: $border;
  font-family: $font;
  font-size: $font-size;
}

header a {
  color: $dark-black;
  transition: $transition;
}

header a:hover {
  background: linear-gradient(to right, #ff0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation-list {
  @include header-styles();
  gap: $spacing;
}

.logo-header {
  @include flex-center();
  gap: 1rem;
  background: linear-gradient(to right, #ff0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-search {
  position: absolute;
  top: 25%;
  left: 7%;
}

.input-div {
  position: relative;
}

.search-input {
  border: none;
  outline: none;
  border: $border;
  @include border-radius($spacing);
  padding: $input-padding;
  font-family: $font;
  background: linear-gradient(to right, #e20404, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
