/* $radius is the parameter of the function */
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav-bar {
  width: 7rem;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.605);
  backdrop-filter: blur(5px);
  border-right: 1px solid rgb(159, 125, 125);
  padding: 1rem;
  transition: width 200ms ease;
}
@media only screen and (max-width: 600px) {
  .nav-bar {
    bottom: 0;
    width: 100vw;
    height: 7rem;
    border: none;
    border-top: 1px solid rgb(159, 125, 125);
  }
}

.logo-img {
  width: 3.5rem;
  height: 3.5rem;
}
@media only screen and (max-width: 600px) {
  .logo-img {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.nav-bar:hover {
  width: 20rem;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}

.nav-item:last-child {
  border: 1px solid rgb(159, 125, 125);
  border-radius: 2rem;
}
@media only screen and (max-width: 600px) {
  .nav-item:last-child {
    border: none;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: rgba(0, 0, 0, 0.762);
  font-family: "Protest Revolution", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
}

.link-text {
  display: none;
}

.nav-bar:hover .link-text {
  display: block;
}

.nav-bar:hover .icon-menu-navbar {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .nav-bar:hover {
    bottom: 0;
    width: 100vw;
    height: 7rem;
  }
  .nav-bar:hover .link-text {
    display: none;
  }
}
.log-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 450px;
  margin: 100px auto;
  padding: 3rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  border-radius: 2rem;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 450px;
  margin: 100px auto;
  padding: 3rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  border-radius: 2rem;
}

.h1-login {
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 3rem;
  background: linear-gradient(to right, #b50404, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 2px;
}
@media only screen and (max-width: 600px) {
  .h1-login {
    font-size: 2rem;
    margin-top: 5rem;
  }
}

.h2-login {
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(to right, #b50404, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 2px;
  margin-top: 2rem;
}

.log-in-main-content {
  padding: 0 20px;
}

.log-in-main-content label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 2px;
}

.log-in-main-content input[type=text],
.log-in-main-content input[type=password],
.log-in-main-content input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(159, 125, 125);
  border-radius: 2rem;
  outline: none;
  margin-bottom: 15px;
}

.log-in-main-content input[type=submit] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(to right, #b50404, #000000);
  font-family: "Protest Revolution", sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
  margin: 2rem 0px 2rem 0px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.77, 0, 0.175, 1);
  font-weight: 600;
}

.log-in-main-content input[type=submit]:hover {
  background: linear-gradient(to right, #000000, #b50404, #000000);
  background-size: 200% auto;
  background-position: left center;
  animation: gradient-animation 1s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
.log-in-main-content input {
  outline: 1px solid black;
}

.log-in-main-content input[type=submit]:hover {
  background-color: black;
}

.link-singup {
  font-family: "Protest Revolution", sans-serif;
  justify-self: flex-end;
  font-size: 0.9rem;
  background: linear-gradient(to right, #b50404, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: underline black;
}

.span-singup {
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a:hover {
  background: linear-gradient(to right, #b50404, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 2px;
}

main {
  margin-left: 5rem;
}
@media only screen and (max-width: 600px) {
  main {
    margin-left: 0rem;
  }
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

section {
  padding: 5rem;
}
@media only screen and (max-width: 600px) {
  section {
    padding: 1rem 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
