@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Trade+Winds&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #ddd;
  color: rgba(0, 0, 0, 0.861);
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
